<div class="body">
  <div class="profile-container">
    <div class="layout">
      <div class="left">
        <img src="assets/DSC_0239.JPG">
      </div>
      <div class="right">
          <p style="font-weight: bold; text-transform: uppercase; color: rgb(54, 50, 50);">Hello everybody, I am</p>
          <h1 style="font-size: 40px;">Sean Rad P. <br>Alberto</h1>
          <h3 style="font-size: 30px; color: rgb(181, 125, 22);">2nd Year BSCS Student</h3>
          <p>I am inspired to do my best in everything I do. I aim to be become successful someday and create a lot of things that I can be proud of. I know I still have a lot to learn but that is exactly what the journey of life is all about.</p>
          <ul>
            <li><i class='bx bxs-cake' ></i> June 21, 2004</li>
            <li><i class='bx bxs-phone' ></i> 09662903605</li>
            <li><i class='bx bxs-envelope' ></i> 202210012&#64;gordoncollege.edu.ph</li>
            <li><i class='bx bxs-map' ></i> Olongapo City, Zambales, Philippines</li>
          </ul>
      </div>
    </div>
  </div>
</div>